nav#main ul li a {
font-size:1.0em;
}
nav#main ul li.current a {
font-size:1.0em;
}
nav#footer ul li a {
font-size:1.0em;
}
nav#footer ul li.current a {
font-size:1.0em;
}

#image img, h2, .oval, #body-container, #header-container {
behavior:url(border-radius.htc)
}
